@import '../../variables.scss';

.ContinueBtn {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  height: 50px;
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0.2px;
  color: $white;
  border-radius: 12px;
  background: $primary-100;

  &.disabled {
    transition: all 0.3s;
    pointer-events: none;
    opacity: 0.3;
  }
}
