@import '../../variables.scss';

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: $black;

  .img {
    border-radius: 6px;
  }

  .name {
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1;
    letter-spacing: -0.45px;
  }
}
